$primary: #b83e3e;
$navy: #121238;
$light: #e9e9e9;
$white: #fff;
$placeholder: #9e9e9e;
$dark: #161616;
$border-color: #c5c5c5;
$title: #929292;
$content: #444444;
$success: #359917;

.text-white {
  color: $white;
}
.text-dark {
  color: $dark;
}
